{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row justify-content-center">

        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb mt-2">
                <li class="breadcrumb-item"><a href="{{ path('app_index') }}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Réinitialisation de mot de passe</li>
            </ol>
        </nav>
     
    <div class="col-md-12 col-lg-6">

        <h4 class="text-center mb-5">Réinitialisation de mot de passe</h4>

        <div class="form-group">
            {{ form_start(passForm) }}
                <div class="form-group">
                    {{ form_row(passForm.password) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-resetMdp2 mb-5">Confirmer</button>
                </div>
            {{ form_end(passForm) }}  
        </div>
    </div>
  </div>
</div>

{% endblock %}