<h1>Bonjour {{ user.firstName }}! Veuillez confirmer votre adresse e-mail.</h1>

<p>
    Pour valider votre inscription sur le site e-commerce, veuillez cliquer sur le lien ci-dessous : <br><br>
    <a href="{{ absolute_url(path('verify_email_user', {token: token})) }}">{{ absolute_url(path('verify_email_user', {token: token})) }}</a>
    Ce lien expirera dans 24 heures.
</p>

<p>
    Merci!
</p>
