{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

  <div class="burger-icon" onclick="toggleMenu()">
    <img src="../img/icon-menu-burger30.png" alt="">
  </div>
    
  <div class="container-fluid d-flex mb-4">
    
{% include 'menu.html.twig' %}
    
    <!-- CONTENT -->
        
    <section class="">
      
      <h3 class="text-center fw-bold mb-5">PAIN ET VIENNNOISERIES</h3>
      
      <div class="cards-box d-flex flex-wrap justify-content-center">

      {% for product in products %}

        <div class="product-card d-flex flex-column mb-3">
          <img src="{{ product.image }}" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">{{ product.description }}</p>
          </div>
          <div class="product-price text-center fw-bold">{{ product.price }}</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="../img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="../img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="../img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Ajouter au panier</button>
        </div>

       {% endfor %}
    
      </div>
  
    </section>     
   
</div>

{% endblock %}
