{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}

    <div id="btn-menu" class="btn-menu text-center">Menu</div>
    
    <div class="d-flex">
      {% include 'menu.html.twig' %}
      
      <div class="content-box">    
        {% include 'product/index.html.twig' %}
      </div>
    </div>

    {% block javascripts %}
      <script src="{{ asset('assets/js/menu.js') }}" ></script>
    {% endblock %}

{% endblock %}
