{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}

  <div class="burger-icon" onclick="toggleMenu()">
    <img src="../img/icon-menu-burger30.png" alt="">
  </div>
    
  <div class="container-fluid d-flex mb-4">
    
    {% include 'menu.html.twig' %}

    <div class="content-box">
    
    {% include 'product/index.html.twig' %}

    </div> 
  </div>

{% endblock %}
