{{ form_start(searchForm, {'action': path('app_search'), 'attr': {'class': 'search-bar'}}) }}
    {{ form_widget(searchForm.q, {'attr': {'class': 'search-input'}}) }}
    <button type="submit">
        <img src="{{ asset('assets/img/icons8-search-60.png') }}" alt="search">
    </button>
{{ form_end(searchForm) }}
    