<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
</head>
<body>


<div class="container-fluid">
    <div class="row mb-4">
      
          <div class="col-md-3 bg-success">
            <nav class="menu-box">
                <div class="menu-title">
                  <h2 class="fw-bold">Каталог продуктов</h2>
                </div>
                <ul class="menu-list">
                  <li>Хлеб</li>
                  <li>Молочные продукты</li>
                  <li>Мясо и колбасы</li>
                  <li>Рыба</li>
                  <li>Фрукты и овощи</li>
                  <li>Замороженные продукты</li>
                  <li>Консервы и консервированные продукты</li>
                  <li>Сыры</li>
                  <li>Бакалея</li>
                  <li>Кондитерские изделия</li>
                  <li>Напитки</li>
                  <li>Алкоголь</li>
                  <li>Закуски</li>
                  <li>Соусы, специи и приправы</li>
                  <li>Сувениры и подарки</li>
                  <li>Косметика</li>
                </ul>
            </nav>
          </div>
          
          <!-- CONTENT -->
          
          <div class="col-md-9">  <!--colonne de contenu-->
  
          <section class="">
            
            <h3 class="text-center fw-bold mb-5">Produits populaires</h3>

            <div class="cards d-flex flex-wrap justify-content-between">

              <div class="product-card mb-3">
                <img src="../img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
                <div class="product-details p-2">
                  <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit, 200mg</p>
                  <div class="product-price text-center fw-bold">1,50€</div>
                </div>
                <div class="product-logo-details d-flex p-2">
                  <a href="" class="me-auto"><img src="../img/icon-heart-red24.png" alt=""></a>
                  <a href=""><img src="../img/icon-minus-red24.png" alt=""></a>
                  <span>2</span>
                  <a href=""><img src="../img/plus-red24.png" alt=""></a>
                </div>
                <button class="btn-card">Добавить в корзину</button>
              </div>
               
              <div class="product-card mb-3">
                <img src="../img/chorizo.jpg" alt="" class="card-img-top img-fluid">
                <div class="product-details p-2">
                  <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit, 200mg</p>
                  <div class="product-price text-center fw-bold">1,50€</div>
                </div>
                <div class="product-logo-details d-flex p-2">
                  <a href="" class="me-auto"><img src="../img/icon-heart-red24.png" alt=""></a>
                  <a href=""><img src="../img/icon-minus-red24.png" alt=""></a>
                  <span>2</span>
                  <a href=""><img src="../img/plus-red24.png" alt=""></a>
                </div>
                <button class="btn-card">Добавить в корзину</button>
              </div>

              <div class="product-card mb-3">
                <img src="../img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
                <div class="product-details p-2">
                  <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit, 200mg</p>
                  <div class="product-price text-center fw-bold">1,50€</div>
                </div>
                <div class="product-logo-details d-flex p-2">
                  <a href="" class="me-auto"><img src="../img/icon-heart-red24.png" alt=""></a>
                  <a href=""><img src="../img/icon-minus-red24.png" alt=""></a>
                  <span>2</span>
                  <a href=""><img src="../img/plus-red24.png" alt=""></a>
                </div>
                <button class="btn-card">Добавить в корзину</button>
              </div>

              <div class="product-card mb-3">
                <img src="../img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
                <div class="product-details p-2">
                  <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit, 200mg</p>
                  <div class="product-price text-center fw-bold">1,50€</div>
                </div>
                <div class="product-logo-details d-flex p-2">
                  <a href="" class="me-auto"><img src="../img/icon-heart-red24.png" alt=""></a>
                  <a href=""><img src="../img/icon-minus-red24.png" alt=""></a>
                  <span>2</span>
                  <a href=""><img src="../img/plus-red24.png" alt=""></a>
                </div>
                <button class="btn-card">Добавить в корзину</button>
              </div>

              <div class="product-card mb-3">
                <img src="../img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
                <div class="product-details p-2">
                  <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit, 200mg</p>
                  <div class="product-price text-center fw-bold">1,50€</div>
                </div>
                <div class="product-logo-details d-flex p-2">
                  <a href="" class="me-auto"><img src="../img/icon-heart-red24.png" alt=""></a>
                  <a href=""><img src="../img/icon-minus-red24.png" alt=""></a>
                  <span>2</span>
                  <a href=""><img src="../img/plus-red24.png" alt=""></a>
                </div>
                <button class="btn-card">Добавить в корзину</button>
              </div>
             
            </div>
  
          </section>
          </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="script.js"></script>
</body>
</html>