{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<!-- NAV-MENU -->
 
<div class="container-fluid d-flex mb-4">
  
 {% include 'menu.html.twig' %}
          
<!-- CONTENT -->

<div class="content-box">
  
  <h3 class="text-center fw-bold mb-5">Produits populaires</h3>
  
  <div class="layer">    
    <div class="viewport">
      <div class="wrapper cards-box d-flex">
      
        <div class="product-card d-flex flex-column">
          <img src="../assets/img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eum. Lorem, ipsum dolor. 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="../assets/img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="../assets/img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="../assets/img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Ajouter au panier</button>
        </div>
      
        <div class="product-card d-flex flex-column">
          <img src="../assets/img/chorizo.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="../assets/img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="../assets/img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="../assets/img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Ajouter au panier</button>
        </div>
      
        <div class="product-card d-flex flex-column">
          <img src="../assets/img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eum. Lorem, ipsum dolor. 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="../assets/img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="../assets/img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="../assets/img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Ajouter au panier</button>
        </div>
      
        <div class="product-card d-flex flex-column">
          <img src="../assets/img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="../assets/img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="../assets/img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="../assets/img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Ajouter au panier</button>
        </div>
      
        <div class="product-card d-flex flex-column">
          <img src="../assets/img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="../assets/img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="../assets/img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="../assets/img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Ajouter au panier</button>
        </div>

        <div class="product-card d-flex flex-column">
          <img src="../assets/img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="../assets/img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="../assets/img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="../assets/img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Ajouter au panier</button>
        </div>

      </div>
    </div>
    
    <button class="pre-btn"><img src="../assets/img/arrow30.png" alt=""></button>
    <button class="nxt-btn"><img src="../assets/img/arrow30.png" alt=""></button>
  </div>
  
  <h4 class="p-4 text-center">Nous proposons un large choix de produits de différents pays dans notre magasin</h4>
  
  <div class="lands">
    
    <div class="land">
      <img src="../assets/img/Armenia.png" alt="">
      <p>Arménie</p>
    </div>
  
    <div class="land">
      <img src="../assets/img/Belarus.png" alt="">
      <p>Biélorussie</p>
    </div>
  
    <div class="land">
      <img src="../assets/img/Georgia.png" alt="">
      <p>Georgie</p>
    </div>
  
    <div class="land">
      <img src="../assets/img/Russia.png" alt="">
      <p>Russie</p>
    </div>
  
    <div class="land">
      <img src="../assets/img/Ukraine.png" alt="">
      <p>Ukraine</p>
    </div>
  
  </div>
  
</div>

</div>
  

{% endblock %}

