<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <div class="container-fluid">
        <div class="row justify-content-center">
            
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../index.html">Accueil</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Panier</li>
                </ol>
            </nav>
            
            <h3 class="text-center fw-bold mb-3">Panier</h3>
            
            <div class="col-md-12 col-lg-8">
              
              <div class="cart-item mb-3">
                <img class="img-item" src="../img/white-carton-package-bottles-bright-board.jpg" alt="product1">
                <div class="product-info">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur iste dolor aut!</p>
                  <span>Prix unité: 15 €</span>
                </div>
                <div class="quantity-item d-flex align-items-center">
                  <a href=""><img src="../img/icon-minus-black32.png" alt=""></a>
                  <span class="quantity">10</span>
                  <a href=""><img src="../img/icon-plus-black.png" alt=""></a>
                </div>
                <span class="total-price-item"><strong>Prix total: 15 €</strong></span>
                <a class="delete-icon" href=""><img src="../img/icon-delete.png" alt=""></a>
              </div>

              <div class="cart-item mb-3">
                <img class="img-item" src="../img/chorizo.jpg" alt="product2">
                <div class="product-info">
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur iste dolor aut!</p>
                  <span>Prix unité: 15 €</span>
                </div>
                <div class="quantity-item d-flex align-items-center">
                  <a href=""><img src="../img/icon-minus-black32.png" alt=""></a>
                  <span class="quantity">10</span>
                  <a href=""><img src="../img/icon-plus-black.png" alt=""></a>
                </div>
                <span class="total-price-item"><strong>Prix total: 15 €</strong></span>
                <a class="delete-icon" href=""><img src="../img/icon-delete.png" alt=""></a>
              </div>
     
            </div>

            <div class="col-md-12 col-lg-4">

              <div class="total-price-cart d-flex flex-column">
                <div class="total-price d-flex justify-content-between fw-bold">
                  <p>Prix total du panier:</p>
                  <span>15 €</span>
                </div>
                <button class="pay-btn fw-bold" type="submit">Payer</button>
              </div>

            </div>

        </div>
    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>