<footer class="footer">
  
  <div class="d-flex justify-content-around">
    <div class="footer-info">
      <h6>Moyens de paiement</h6>
      <p class="txt-warning">Le paiement s'effectue en espèces<br>ou par carte en magasin !</p>
    </div>
    <div class="footer-info">
      <h6>Adresse</h6>
      <p>50 Bd Mermoz, 35136<br>Saint-Jacques-de-la-Lande</p>
    </div>
    <div class="footer-info">
      <h6>Horaire d'ouverture</h6>
      <p>Mar - dim: 10:00 - 20:00 <br> Lundi: fermé</p>
    </div>
    <div class="footer-info">
      <h6>Contacts</h6>
      <p>Téléphone: 01 02 03 04 05<br>Email: azertyuiop@gmail.com</P>
      <a href="https://www.facebook.com/groups/454093468521340/"><img src="../assets/img/facebook_1051309.png" alt=""></a>
    </div>
  </div>
  
  <div class="line mb-2"></div>
  <div class="autor text-center">@ 2023 Maria Ibragimova</div>

</footer>