<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  

  <!-- HEADER -->
 
      <div class="header mb-4">
        <div class="contact-info d-flex justify-content-end">
          <span class="contact-item">
            <img class="localis-icon" src="img/icons8-location-48.png" alt="geolocation">
            <span class="address d-inline align-middle">
              <a href="https://www.google.com/maps/place/50+Bd+Jean+Mermoz,+35136+Saint-Jacques-de-la-Lande/@48.0953112,-1.6990676,17z/data=!3m1!4b1!4m6!3m5!1s0x480ee077cb19bc11:0xaf2190f0a97d4862!8m2!3d48.0953076!4d-1.6964927!16s%2Fg%2F11h56b_9_x?authuser=0&entry=ttu" target="_blank">50 Bd Jean Mermoz, 35136 Saint-Jacques-de-la-Lande</a>
            </span>
          </span>
          <span class="contact-item">Mardi - Dimanche, de 10:00 à 20:00</span>
          <span class="contact-item">01 02 03 04 05</span>
        </div>
        
        <div class="header-content d-flex flex-column justify-content-right">

          <h1>Kalinka</h1>

          <div class="header-search-icons d-flex">
            <p class="me-auto">Épicerie et saveurs des pays de l'est</p>

            <div class="search-icons d-flex justify-content-between">
              <div class="search-bar">
                <input type="text" id="search-input" placeholder="Rechercher">
                <div>
                  <img src="img/icons8-search-60.png" alt="search">
                </div>
              </div>
              
              <div class="profil-icons d-flex">
                <div class="mobile-title me-auto">Kalinka</div>
                <div>
                  <a href=""><img src="img/icons8-heart-60.png" alt="heart" class="heart" id="prof-icon"></a>
                </div>
                <div>
                  <img src="img/icons8-user-48.png" alt="user" class="user" id="prof-icon">
                </div>
                <div>
                  <a href="shop/shopping_cart.html"><img src="img/icons8-shopping-cart-60.png" alt="shopping" class="shop-cart" id="prof-icon"></a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="before-log-reg log-reg align-items-center justify-content-center">
          <a href="user/login.html">Connexion /</a>
          <a href="user/register.html">Inscription</a>
        </div>
        <div class="after-log-reg log-reg flex-column">
          <a href="shop/orders.html"><img src="img/icon-box48.png" alt=""> Mes commandes</a>
          <a href="user/personal_info.html"><img src="img/user-48.png" alt=""> Mon profil</a>
          <a href=""><img src="img/icons8-heart-60.png" alt=""> Les produits souhaités</a>
          <a href=""><img src="img/icon-exit48.png" alt=""> Déconnexion</a>
        </div>
        
      </div> 

<!-- NAV-MENU -->

<div class="burger-icon" onclick="toggleMenu()">
  <img src="img/icon-menu-burger30.png" alt="">
</div>
  
<div class="container-fluid d-flex mb-4">
  
    <nav id="menu-box" class="menu-box">
      <div class="menu-title d-flex align-items-center justify-content-center">
        <h2 class="fw-bold">Каталог продуктов</h2>
      </div>
      <ul class="menu-list">
        <li>Хлеб</li>
        <li>Молочные продукты</li>
        <li>Мясо и колбасы</li>
        <li>Рыба</li>
        <li>Фрукты и овощи</li>
        <li>Замороженные продукты</li>
        <li>Консервы и консервированные продукты</li>
        <li>Сыры</li>
        <li>Бакалея</li>
        <li>Кондитерские изделия</li>
        <li>Напитки</li>
        <li>Алкоголь</li>
        <li>Закуски</li>
        <li>Соусы, специи и приправы</li>
        <li>Сувениры и подарки</li>
        <li>Косметика</li>
      </ul>
      <div class="menu-end">
        <div class="menu-title-end d-flex justify-content-center align-items-center">
          <h2 class="fw-bold">Contact</h2>
        </div>
        <ul>
          <li><img class="contact-icon" src="img/icon-phone48.png" alt=""> 0102030405</li>
          <li><img class="contact-icon" src="img/icon-letter48.png" alt=""> azertyuiop@gmail.com</li>
          <li><img class="contact-icon" src="img/icon-gps.png" alt=""> 50 Bd Jean Mermoz, 35136<br>Saint-Jacques-de-la-Lande</li>
        </ul>    
      </div>
    </nav>

          
<!-- CONTENT -->

<div class="content-box">
  
  <h3 class="text-center fw-bold mb-5">Produits populaires</h3>
  
  
  <div class="layer">    
    <div class="viewport">
      <div class="wrapper cards-box d-flex">
      
        <div class="product-card d-flex flex-column">
          <img src="img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eum. Lorem, ipsum dolor. 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Добавить в корзину</button>
        </div>
      
        <div class="product-card d-flex flex-column">
          <img src="img/chorizo.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Добавить в корзину</button>
        </div>
      
        <div class="product-card d-flex flex-column">
          <img src="img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, eum. Lorem, ipsum dolor. 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Добавить в корзину</button>
        </div>
      
        <div class="product-card d-flex flex-column">
          <img src="img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Добавить в корзину</button>
        </div>
      
        <div class="product-card d-flex flex-column">
          <img src="img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Добавить в корзину</button>
        </div>

        <div class="product-card d-flex flex-column">
          <img src="img/white-carton-package-bottles-bright-board.jpg" alt="" class="card-img-top img-fluid">
          <div class="product-details p-1">
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 200mg</p>
          </div>
          <div class="product-price text-center fw-bold">1,50€</div>
          <div class="product-logo-details d-flex justify-content-between align-items-end p-2">
            <a href="" class="me-auto"><img src="img/icon-heart-red24.png" alt=""></a>
            <a href=""><img src="img/icon-minus-red24.png" alt=""></a>
            <span>2</span>
            <a href=""><img src="img/plus-red24.png" alt=""></a>
          </div>
          <button class="btn-card">Добавить в корзину</button>
        </div>

      </div>
    </div>
    
    <button class="pre-btn"><img src="img/arrow30.png" alt=""></button>
    <button class="nxt-btn"><img src="img/arrow30.png" alt=""></button>
  </div>
  
  <h4 class="p-4 text-center">В нашем магазине представлен широкий аасортимент товаров из разных стран</h4>
  
  <div class="lands">
    
    <div class="land">
      <img src="img/Armenia.png" alt="">
      <p>Армения</p>
    </div>
  
    <div class="land">
      <img src="img/Belarus.png" alt="">
      <p>Беларусь</p>
    </div>
  
    <div class="land">
      <img src="img/Georgia.png" alt="">
      <p>Грузия</p>
    </div>
  
    <div class="land">
      <img src="img/Russia.png" alt="">
      <p>Россия</p>
    </div>
  
    <div class="land">
      <img src="img/Ukraine.png" alt="">
      <p>Украина</p>
    </div>
  
  </div>
  
</div>

</div>
  
 <!-- FOOTER -->
 
 <footer class="footer">
  
  <div class="d-flex justify-content-around">
    <div class="footer-info">
      <h6>Moyens de paiement</h6>
      <p class="txt-warning">Le paiement s'effectue en espèces<br>ou par carte en magasin !</p>
    </div>
    <div class="footer-info">
      <h6>Adresse</h6>
      <p>50 Bd Mermoz, 35136<br>Saint-Jacques-de-la-Lande</p>
    </div>
    <div class="footer-info">
      <h6>Horaire d'ouverture</h6>
      <p>Mar - dim: 10:00 - 20:00 <br> Lundi: fermé</p>
    </div>
    <div class="footer-info">
      <h6>Contacts</h6>
      <p>Téléphone: 01 02 03 04 05<br>Email: azertyuiop@gmail.com</P>
      <a href=""><img src="img/facebook_1051309.png" alt=""></a>
    </div>
  </div>
  
  <div class="line mb-2"></div>
  <div class="autor text-center">@ 2023 Maria Ibragimova</div>

</footer>


   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
   <script src="script.js"></script>
</body>
</html>