<nav class="menu-box m-3">
      <div class="menu-title d-flex align-items-center justify-content-center">
        <div class="fw-bold">Produits</div>
      </div>
      <ul class="menu-list">
        {% for category in categories %}
            <li><a class="menu-li" href="{{ path('app_category', {id: category.id}) }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
      <div class="menu-end">
        <div class="menu-title-end d-flex justify-content-center align-items-center">
          <div class="fw-bold">Contact</div>
        </div>
        <ul>
          <li><img class="contact-icon" src="../assets/img/icon-phone48.png" alt="telephone"> 0102030405</li>
          <li><img class="contact-icon" src="../assets/img/icon-letter48.png" alt="email"> azertyuiop@gmail.com</li>
          <li><img class="contact-icon" src="../assets/img/icon-gps.png" alt="adresse"> 50 Bd Jean Mermoz, 35136<br>Saint-Jacques-de-la-Lande</li>
        </ul>    
      </div>
</nav>
<img class="cancel mt-3" src="../assets/img/cancel-30.png" alt="cancel" width="30px" height="30px">

{% block javascripts %}
  <script src="{{ asset('assets/js/menu.js') }}"></script>
{% endblock %}