:root {
  --color-gold: #F2C557;
  --color-red: #B33826;
  --color-white: white;
  --color-grey: #888;
}

@font-face {
  font-family: 'SansitaOne';
  src: url('fonts/SansitaOne.ttf') format('truetype');
}
@font-face {
  font-family: 'Pattaya';
  src: url('fonts/Pattaya.ttf') format('truetype');
}

*, ::before, ::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-gold);
}

/* HEADER */

.header{
  background-image: url('img/header.png');
  width: 100%;
  height: 30vh;
  background-size: cover;
  color: var(--color-white);
}

/* contacts du haut */
  
.contact-item{
  margin: 20px;
  font-size: 18px;
}
  
.icon{
  width: 20px;
  height: 20px;
}
  
.address a{
  color: var(--color-white);
}

/* nom du magasin */

.header-content{
  margin-left: 240px;
}

h1{
  font-size: 60px;
  font-family: 'SansitaOne';
}

.header-search-icons p{
  font-family: 'SansitaOne';
  font-size: 30px;
  color: #FFB320;  
}

/* barre de recherche et icons */

.search-bar {
  position: relative;
  width: 400px;
  height: 40px;
  background-color: var(--color-white);
  border-radius: 5px;
}
.search-bar input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 5px;
}
.search-bar input::placeholder {
  color: var(--color-grey); 
  font-style: italic;
}
.search-bar img{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 5px; 
  transform: translateY(-50%); 
  cursor: pointer;
}

.icons{
  width: 40px;
  height: 40px;
}
.search-bar, .icons{
  margin-right: 20px;
}

.login-register{
  width: 220px;
  height: 40px;
  background-color: #000000;
  border: 3px solid #ffffff;
  color: var(--color-white);
  position: absolute;
  right: 10px;
}
.login-register a{
  text-decoration: none;
  color: var(--color-white);
}

/* MENU */

.menu-box{
  width: 80%;
  margin: 0 auto;
  background-color: var(--color-white);
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
.menu-title{
  
  height: 40px;
  background-color: var(--color-red);
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  font-size: 22px;
  color: var(--color-white);
  text-align: center;
}
.menu-list li{
  list-style: none;
  margin: 15px;
}


/* CONTENT */

/* cards */

.cards-container{
  position: relative;
  overflow: hidden;
}
.cards-box{
  padding: 0 3vw;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.cards-box::-webkit-scrollbar{
  display: none;
}
.product-card{
  flex: 0 0 auto;
  width: 240px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  margin-right: 40px;
}
.card-img-top{
  border-radius: 5px 5px 0 0;
  height: 180px; /* Задайте желаемую фиксированную высоту для изображений */
  object-fit: cover;
}

.btn-card{
  width: 100%;
  height: 40px;
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: 700;
  border: none;
}

.pre-btn,
.nxt-btn{
  border: none;
  width: 30px;
  height: 30px;
  background-color:#b3392671;
  position: absolute;
  top: 40%;
  cursor: pointer;
  z-index: 99;
}

.pre-btn{
  left:1.5%;
}
.nxt-btn{
  right: 0.5%;
  transform: rotate(180deg);
}

.pre-btn img,
.nxt-btn img{
  opacity: 0.5;
}


/* Lands */

.land img{
  width: 100px;
  height: 60px;
}

.land p{
  text-align: center;
  font-family: 'Pattaya';
  font-size: 20px;
}



/* FOOTER */

footer{

  background-color: var(--color-red);
  color: var(--color-white);
  padding: 10px;
 
}
.footer h6{
  font-size: 18px;
  font-weight: bold;
}
.footer-info img{
  width: 50px;
  height: 50px;
}

.line{
  width: 500px;
  height: 1px;
  background-color: #FFB320;
  margin: 0 auto;
}


/* LOGIN / REGISTER FORM */

/* login */

.login-register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid var(--color-red);
  border-radius: 5px;
}

.form-group{
  width: 100%;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.form-group input::placeholder {
  color: var(--color-grey);
  font-size: 14px; 
}

.form-group-under{
  font-size: 14px;
}

.formCheck input{
  margin-right: 5px;
  width: 15px;
}

.text-right a{
  text-decoration: none;
  color: var(--color-red);
}

.log-reg-btn {
  width: 100%;
  padding: 10px;
  background-color: var(--color-red);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* register */

.form-group-over .first-name{
  margin-right: 20px;
}

@media screen and (max-width: 430px) {
 .form-group-under{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
 }
 .form-group-over{
  display: flex;
  flex-direction: column;justify-content: space-between;
 }
}

/* PANIER */

.cart-item {
  display: grid;
  grid-template-columns: 100px 1fr auto auto auto;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
}
  
.img-item {
  width: 100%;
  height: 80px;
  object-fit: cover;
}
  
.quantity-item{
  gap: 5px;
}
  
.delete-icon{
  width: 30px;
  margin-right: 20px;
}
  
  
  /* les commandes du panier responsives */
 @media (max-width: 990px) {
  .cart-item {
      grid-template-columns: 100px auto auto auto auto;
      grid-template-rows: 80px auto auto;
      gap: 10px;
  }
  .cart-item p{
    font-size: 14px;
  }
  .quantity-item {
    grid-row: 2;
  }
  .total-price-item {
    grid-row: 2;
    text-align: left;
  }
  .delete-icon{
    grid-row: 2;
  }
}

.total-price-cart{
  width: 340px;
  height: 160px;
  margin: 0 auto;
  background-color: var(--color-white);
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  padding: 25px;
}
.pay-btn{
  margin-top: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-gold);
  text-transform: uppercase;
}

/* COMMANDES */

.order-data{
  background-color: hsla(0, 0%, 85%, 0.3);
  border-radius: 5px;
  padding: 10px;
}