<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <div class="container-fluid">
        <div class="row justify-content-center">
            
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="../index.html">Accueil</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Mon profil</li>
                </ol>
            </nav>
            
            <h3 class="text-center fw-bold mb-3">Mes données</h3>
            
           <div class="row">

            <div class="col-md-4">

                <form class="personal-info d-flex flex-column">

                    <div class="info-group">
                        <label for="first-name">Prénom:</label>
                        <input type="text" id="first-name" name="first-name" value="John">
                    </div>
                  
                    <div class="info-group">
                        <label for="last-name">Nom:</label>
                        <input type="text" id="last-name" name="last-name" value="Doe">
                    </div>
                  
                    <div class="info-group">
                        <label for="phone">Tél:</label>
                        <input type="text" id="phone" name="phone" value="555-1234">
                    </div>
                  
                    <div class="info-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" value="john.doe@example.com">
                    </div>

                    <div class="info-group">
                        <label for="email">Mot de passe:</label>
                        <input type="password" id="psw" name="psw" value="">
                    </div>
                  
                    <div class="btn-group d-flex justify-content-between">
                        <button type="submit">Changer mot de passe</button>
                        <button type="submit">Sauvgarder</button>
                    </div>

                  </form>
                          
            </div>

          

          

           </div>

        

        </div>
    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>