<h1>Bonjour {{ user.firstName }}! Votre commande est prête.</h1>

<p>
    Votre commande avec la référence {{ orders.reference }} est prête et vous attend au magasin "Kalinka" à l'adresse : 50 Bd Jean Mermoz, 35136 Saint-Jacques-de-la-Lande.<br><br>
</p>

<p>
    À bientôt!
</p>
